<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
        <div>
            <h1><a href="">Vemula's  Blog</a></h1>
        </div>

        <div>
            <p>published: 12/29/2016, 17:55</p>
            <h2><a href="">My first post</a></h2>
            <p>Some days you just want to put your feet up, eat buffalo chicken nachos, and watch Netflix -- and not even good Netflix, but some crappy movie that you're only watching because you've given up on being productive and are complicit in filling your brain with dim-witted, mind-numbing entertainment.</p>
        </div>

        <div>
            <p>published: 12/30/2016, 12:55</p>
            <h2><a href="">My second post</a></h2>
            <p>Of course, when you've got a deadline looming, or a big presentation coming up, and your coworkers (and/or customers) are depending on you, taking a brain vacation isn't really an option. In such cases, when you can't afford to lollygag, you need to be able to silence your inner couch potato and get your head in the game. You need to be able to dig down deep, find your inner strength, give 110%, and ... look, I'll admit it: Motivational speeches aren't really my thing..</p>
        </div>
</body>
</html>


